<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inzent.ibiz.svc.sanction.SanctionMapper">
    <!--

        SELECT

    -->

	<!-- 결재알림구분 정보 조회   -->
	<select id="selectSantNtcDstInfo"
			parameterType="com.ibiz.api.model.ApprovalVO"
			resultType="com.ibiz.api.model.ApprovalVO">
			SELECT
				SANT_ID,
			    SANT_PRGS_STAT_CD,
			    SANT_NTC_DST_CD,
			    EMG_DST_CD,
			    IBIZ_COM_CD_NM('SANT_NTC_DST_CD',SANT_NTC_DST_CD) AS SANT_NTC_DST_CD_NM
			FROM
			    AAPR100T
			WHERE
			    SANT_ID = #{santId}
	</select>

	<!-- MAX(SANT_ID) 조회 -->
	<select id="selectMaxSantId"
			resultType="com.ibiz.api.model.ApprovalVO">
			SELECT
			        CASE
			            WHEN MAX(SANT_ID) IS NOT NULL THEN MAX(SANT_ID)
			            ELSE TO_CHAR(SYSDATE,'yyyy') || '000000'
			        END
			    AS SANT_ID
			FROM
			    AAPR100T
	</select>

	<!--

		INSERT

	 -->

	<!-- 기안서 등록 -->
	<insert id="insertApprovalDraft"
			parameterType="com.ibiz.api.model.ApprovalVO">
		INSERT
		INTO AAPR100T (
			SANT_ID,
			DOC_TITL,
			<if test="bdctCont != null and bdctCont != ''">
				BDCT_CONT,
			</if>
			SANT_FRMT_CD,
			SANT_NTC_DST_CD,
			EMG_DST_CD,
			SANT_PRGS_STAT_CD,
			<if test="fileAttcId != null and fileAttcId != ''">
				FILE_ATTC_ID,
			</if>
			<if test="scrnAttcId != null and scrnAttcId != ''">
				SCRN_ATTC_ID,
			</if>
			REG_EMP_ID,
			REG_DT,
			CHG_EMP_ID,
			CHG_DT
		)
		VALUES (
			#{santId},
			#{docTitl},
			<if test="bdctCont != null and bdctCont != ''">
				#{bdctCont},
			</if>
			#{santFrmtCd},
			#{santNtcDstCd},
			#{emgDstCd},
			#{santPrgsStatCd},
			<if test="fileAttcId != null and fileAttcId != ''">
				#{fileAttcId},
			</if>
			<if test="scrnAttcId != null and scrnAttcId != ''">
				#{scrnAttcId},
			</if>
			#{regEmpId},
			SYSDATE,
			#{regEmpId},
			SYSDATE
		)
	</insert>

	<!-- 결재자 등록 -->
	<insert id="insertApprovalAuthorizer"
			parameterType="com.ibiz.api.model.ApprovalAuthorizerVO">
		INSERT
		INTO AAPR110T (
			SANT_ID,
			SANT_SEQ,
			APRN_ROLE_CD,
			SANT_DEPT_ID,
			APRN_EMP_ID,
			APRN_RESO_CD,
			APRN_OFPS_CD

			<if test="santOpinCont != null and santOpinCont != ''">
				,SANT_OPIN_CONT
			</if>
			<if test="santAppvDstCd != null and santAppvDstCd != ''">
				,SANT_APPV_DST_CD
			</if>
			<if test="santDt != null and santDt != ''">
				,SANT_DT
			</if>
		)
		VALUES (
			#{santId},
			#{santSeq},
			#{aprnRoleCd},
			#{santDeptId},
			#{aprnEmpId},
			#{aprnResoCd},
			#{aprnOfpsCd}

			<if test="santOpinCont != null and santOpinCont != ''">
				,#{santOpinCont}
			</if>
			<if test="santAppvDstCd != null and santAppvDstCd != ''">
				,#{santAppvDstCd}
			</if>
			<if test="santDt != null and santDt != ''">
				,TO_DATE(#{santDt},'YYYYMMDDHH24MISS')
			</if>
		)
	</insert>

	<!--

       UPDATE

    -->

	<!-- 기안서 수정 -->
	<update id="updateApprovalDraft"
			parameterType="com.ibiz.api.model.ApprovalVO">
			UPDATE AAPR100T
			    SET
			        EMG_DST_CD = #{emgDstCd},
			        SANT_NTC_DST_CD = #{santNtcDstCd}

			        , DOC_TITL = #{docTitl}


			        , BDCT_CONT = #{bdctCont}


					, FILE_ATTC_ID = #{fileAttcId}
					, SCRN_ATTC_ID = #{scrnAttcId}

			WHERE
			    SANT_ID = #{santId}
	</update>

	<!-- 결재상태 수정 -->
	<update id="updateApprovalState"
			parameterType="com.ibiz.api.model.ApprovalVO">
			UPDATE AAPR100T
			    SET
			        SANT_PRGS_STAT_CD = #{santPrgsStatCd},
			        CHG_EMP_ID = #{chgEmpId},
			        CHG_DT = SYSDATE
			WHERE
			    SANT_ID = #{santId}
	</update>

	<!--

       DELETE

    -->

	<!-- 기안서 삭제 -->
	<delete id="deleteApprovalDraft"
			parameterType="com.ibiz.api.model.ApprovalVO">
			DELETE FROM AAPR100T WHERE
			    SANT_ID = #{santId}
	</delete>

	<!-- 결재라인 삭제 -->
	<delete id="deleteApprovalAuthorizer"
			parameterType="com.ibiz.api.model.ApprovalVO">
			DELETE FROM AAPR110T WHERE
			    SANT_ID = #{santId}
	</delete>


	<!-- 비즈니스 상태에 따른 결재 진행상태코드 조회  -->
	<select id="selectSyncronizedPrgsStatCd"
			parameterType="com.ibiz.api.model.CommonCodeMappingVO"
			resultType="com.ibiz.api.model.ApprovalVO">
			SELECT IBIZ_MAPP_COM_CD (#{mappClmnNm}, #{comCd}, 'SANT_PRGS_STAT_CD') AS SANT_PRGS_STAT_CD FROM DUAL
	</select>

	<!-- 결재 key 생성 -->
	<select id="selectNewSantId"
			resultType="com.ibiz.api.model.ApprovalVO">
		SELECT IBIZ_NEW_ID('AAPR100T','SANT_ID','YYYY######') AS SANT_ID FROM DUAL
	</select>


	<!-- 전체 결재자수와 결재를 수행한 결재자수 조회 -->
	<!--
	<select id="selectTotalAprnCntWithAppvCnt"
			parameterType="com.ibiz.api.model.ApprovalVO"
			resultType="com.ibiz.api.model.ApprovalVO">
			SELECT COUNT(1) AS APRN_CNT, SUM(CASE WHEN SANT_APPV_DST_CD IS NOT NULL THEN 1 ELSE 0 END) AS APPV_CNT
			  FROM AAPR110T
			 WHERE SANT_ID = #{santId}
			AND APRN_ROLE_CD IN ('A','B','C','E','F') &#45;&#45; D.수신 제외
	</select>
-->



</mapper>